@import "tailwindcss";

/* eslint-disable-next-line css/no-invalid-at-rules -- ESLint not set up for Tailwind CSS. */
@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background: rgb(70, 24, 172);
  color: white;
  font-family: "metropolis", Arial, Helvetica, sans-serif;
  line-height: 1;
}
